<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlInyectionPrevent.Properties.Settings.cn" connectionString="Data Source=PROGRAMADOR-PC\JPLOCAL;Initial Catalog=DBVOTING;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>